<launch>
    <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
        <arg name="args" value="--delete_db_on_start"/>
        <arg name="frame_id"  value="base_link"/>
        <arg name="rgb_topic" value="/camera_front/color/image_raw"/>
        <arg name="depth_topic" value="/camera_front/aligned_depth_to_color/image_raw"/>
        <arg name="camera_info_topic" value="/camera_front/color/camera_info"/>
        <arg name="depth_camera_info_topic" value="/camera_front/depth/camera_info"/>
        <arg name="rtabmapviz" value="false"/>
        <arg name="rviz" value="true"/>
    </include>
</launch>