<launch>

    <arg name="rgbd_odometry" default="false"/>
    <arg name="icp_odometry" default="false"/>
    <arg name="r2fo" default="true"/>





    <node if="$(arg r2fo)" pkg="rf2o_laser_odometry" type="rf2o_laser_odometry_node" name="rf2o_laser_odometry" output="screen">
        <param name="laser_scan_topic" value="my_robot/laser/scan"/>
        <param name="odom_topic" value="/odom_rf2o" />
        <param name="publish_tf" value="true" />
        <param name="base_frame_id" value="/base_link"/>
        <param name="odom_frame_id" value="/odom" />

        <param name="init_pose_from_topic" value="" />
        <param name="freq" value="10.0"/>
        <param name="verbose" value="true" />
    </node>

</launch>